.starda__card {
  grid-area: b;
  width: 284px;
  min-height: 196px;
  border-radius: 10px;
  padding: 8px 16px 12px;
  box-sizing: border-box;
  background-image: url(../../images/pattern/card.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 655px) {
  .starda__card {
    margin: 0 auto;
    width: 264px;
  }
}