.demo__games {
  padding: 24px 0 0;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, minmax(220px, 250px));
  gap: 24px 15px;
}

@media screen and (max-width: 1024px) {
  .demo__games {
    grid-template-columns: repeat(4, minmax(120px, 1fr));
  }
}

@media screen and (max-width: 786px) {
  .demo__games {
    gap: 12px 10px;
    grid-template-columns: repeat(3, minmax(120px, 1fr));
  }
}