.define__table {
  padding: 12px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  border-bottom: 1px solid var(--back-categories);
}

.define__table:nth-last-child(1) {
  border: none;
}